---
import Root from "@/partials/Root.astro";
import AboutMe from "@/sections/AboutMe.astro";
import Hello from "@/sections/Hello.astro";
import Projects from "@/sections/Projects.astro";
---

<Root>
  <main>
    <Hello />
    <AboutMe />
    <Projects />
  </main>
</Root>
