---
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import NavBar from "@/components/shared/NavBar/index.astro";
import "@/styles/index.css";
import NavDownButton from "@/components/buttons/NavDownButton";
import AboutMe from "@/sections/AboutMe.astro";
import Hello from "@/sections/Hello.astro";
import Projects from "@/sections/Projects.astro";
import { UseAnimateWhenInViewAdapter } from "@/utils/animations";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <link rel="shortcut icon" type="image/ico" href="/favicon.ico" />
    <meta name="description" content={t("whoAmI")} />
    <meta name="keywords" content={t("keywords")} />
    <link rel="canonical" href="https://hugo-mialhe.vercel.app" />
    <meta property="og:title" content={t("pageTitle")} />
    <meta property="og:description" content={t("whoAmI")} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <title>{t("pageTitle")}</title>
  </head>
  <body>
    <noscript>{t("noscript")}</noscript>
    <NavBar />
    <slot/>
    <NavDownButton aria-label={t("navigateToNextSection")} />
    <UseAnimateWhenInViewAdapter client:load />
  </body>
</html>
